In [125]:
#Performing standard import

import numpy as np
import pandas as pd

import re
from textblob import TextBlob

In [126]:
dataset = pd.read_csv('Extracted Data//Tweets on Gender.csv')

In [127]:
dataset.head()

,Id,Tweets,Lang,Location
0,1225675713459539968,RT @TwisterFilm: 13./ Here's James Morton from...,en,Over here.
1,1225675711710523393,"How do actors, rules &amp; institutional conte...",en,Sheffield and Buenos Aires
2,1225675705154859008,RT @DamnTrue04: You did not choose your:\n\n1 ...,en,NaN
3,1225675701799358464,"""biometric gender verification"" YIKES!",en,NaN
4,1225675696694906880,"Top jobs lead to divorce for women, but not fo...",en,"Geneva, Switzerland"

In [128]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 4 columns):
Id          992 non-null int64
Tweets      992 non-null object
Lang        992 non-null object
Location    650 non-null object
dtypes: int64(1), object(3)
memory usage: 31.1+ KB

In [129]:
dataset.isnull().sum()

Id            0
Tweets        0
Lang          0
Location    342
dtype: int64

#### Text Preprocessing :

In [130]:
dataset['Location'] = dataset['Location'].fillna('N.A')

In [71]:
# pattern_1 = '([A-Za-z]+ @\w+:)'  # RT @TwisterFilm:
# pattern_2 = '(@\w+)'             # @TwisterFilm
# pattern_3 = '(https:\/\/[a-zA-Z0-9]*.?[A-Za-z0-9]*\/[a-zA-Z0-9]*' #link : https://t.co/IPzmqu4PfK'

# re.sub('([A-Za-z]+ @\w+:)|(@\w+) | (https:\/\/[a-zA-Z0-9]*.?[A-Za-z0-9]*\/[a-zA-Z0-9]*)',' ',x)

In [131]:
dataset['Cleaned_text'] = [re.sub('([A-Za-z]+ @\w+:)|(@\w+) | (https:\/\/[a-zA-Z0-9]*.?[A-Za-z0-9]*\/[a-zA-Z0-9]*)',' ',tweet) for tweet in dataset.Tweets]

In [132]:
# Pattern_4 = '[^a-zA-z]' # Remove everything which is not a alphabet
# re.sub('[^a-zA-z]',' ',x)

dataset['Cleaned_text'] = [' '.join(re.sub('[^a-zA-z]',' ',tweet).lower().split()) for tweet in dataset.Tweets]

In [133]:
dataset.head(10)

,Id,Tweets,Lang,Location,Cleaned_text
0,1225675713459539968,RT @TwisterFilm: 13./ Here's James Morton from...,en,Over here.,rt twisterfilm here s james morton from scotti...
1,1225675711710523393,"How do actors, rules &amp; institutional conte...",en,Sheffield and Buenos Aires,how do actors rules amp institutional contexts...
2,1225675705154859008,RT @DamnTrue04: You did not choose your:\n\n1 ...,en,N.A,rt damntrue you did not choose your birthplace...
3,1225675701799358464,"""biometric gender verification"" YIKES!",en,N.A,biometric gender verification yikes
4,1225675696694906880,"Top jobs lead to divorce for women, but not fo...",en,"Geneva, Switzerland",top jobs lead to divorce for women but not for...
5,1225675691875680258,Is belief in immutable gender a philosophical ...,en,"Reading, UK",is belief in immutable gender a philosophical ...
6,1225675691787571204,RT @Terrell__green: This Gender reveal party w...,en,N.A,rt terrell__green this gender reveal party was...
7,1225675691305226240,and according to the article he did not ask th...,en,N.A,and according to the article he did not ask th...
8,1225675689522679808,RT @DikshitSmita: My last take on the issue of...,en,India,rt dikshitsmita my last take on the issue of w...
9,1225675678072180737,Hong Kong women upend gender roles in democrac...,en,Tokyo,hong kong women upend gender roles in democrac...

In [138]:
dataset['textblob_polarity'] = [TextBlob(tweet).sentiment.polarity for tweet in dataset.Cleaned_text]
dataset['textblob_polarity'] = dataset['textblob_polarity'].apply(lambda x : 'Pos' if (x>0) else ('Neu' if (x == 0) else 'Neg'))

In [139]:
dataset.head()

,Id,Tweets,Lang,Location,Cleaned_text,Polarity,textblob_polarity
0,1225675713459539968,RT @TwisterFilm: 13./ Here's James Morton from...,en,Over here.,rt twisterfilm here s james morton from scotti...,Pos,Pos
1,1225675711710523393,"How do actors, rules &amp; institutional conte...",en,Sheffield and Buenos Aires,how do actors rules amp institutional contexts...,Neu,Neu
2,1225675705154859008,RT @DamnTrue04: You did not choose your:\n\n1 ...,en,N.A,rt damntrue you did not choose your birthplace...,Neu,Neu
3,1225675701799358464,"""biometric gender verification"" YIKES!",en,N.A,biometric gender verification yikes,Neu,Neu
4,1225675696694906880,"Top jobs lead to divorce for women, but not fo...",en,"Geneva, Switzerland",top jobs lead to divorce for women but not for...,Pos,Pos

In [140]:
dataset['textblob_polarity'].value_counts()

Pos    556
Neu    268
Neg    168
Name: textblob_polarity, dtype: int64

In [144]:
dataset.to_csv('Extracted Data//Tweets on Gender.csv',index=None)

In [146]:
pd.read_csv('Extracted Data//Tweets on Gender.csv').head()

,Id,Tweets,Lang,Location,Cleaned_text,textblob_polarity
0,1225675713459539968,RT @TwisterFilm: 13./ Here's James Morton from...,en,Over here.,rt twisterfilm here s james morton from scotti...,Pos
1,1225675711710523393,"How do actors, rules &amp; institutional conte...",en,Sheffield and Buenos Aires,how do actors rules amp institutional contexts...,Neu
2,1225675705154859008,RT @DamnTrue04: You did not choose your:\n\n1 ...,en,N.A,rt damntrue you did not choose your birthplace...,Neu
3,1225675701799358464,"""biometric gender verification"" YIKES!",en,N.A,biometric gender verification yikes,Neu
4,1225675696694906880,"Top jobs lead to divorce for women, but not fo...",en,"Geneva, Switzerland",top jobs lead to divorce for women but not for...,Pos