In [65]:
#Performing standard import

import numpy as np
import pandas as pd

import re
from textblob import TextBlob

In [66]:
dataset = pd.read_csv('Extracted Data//Tweets on Gender.csv')

In [67]:
dataset.head()

,Id,Tweets,Lang,Location
0,1225675713459539968,RT @TwisterFilm: 13./ Here's James Morton from...,en,Over here.
1,1225675711710523393,"How do actors, rules &amp; institutional conte...",en,Sheffield and Buenos Aires
2,1225675705154859008,RT @DamnTrue04: You did not choose your:\n\n1 ...,en,NaN
3,1225675701799358464,"""biometric gender verification"" YIKES!",en,NaN
4,1225675696694906880,"Top jobs lead to divorce for women, but not fo...",en,"Geneva, Switzerland"

In [68]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 4 columns):
Id          992 non-null int64
Tweets      992 non-null object
Lang        992 non-null object
Location    650 non-null object
dtypes: int64(1), object(3)
memory usage: 31.1+ KB

In [69]:
dataset.isnull().sum()

Id            0
Tweets        0
Lang          0
Location    342
dtype: int64

#### Text Preprocessing :

In [70]:
dataset['Location'] = dataset['Location'].fillna('N.A')

In [71]:
# pattern_1 = '([A-Za-z]+ @\w+:)'  # RT @TwisterFilm:
# pattern_2 = '(@\w+)'             # @TwisterFilm
# pattern_3 = '(https:\/\/[a-zA-Z0-9]*.?[A-Za-z0-9]*\/[a-zA-Z0-9]*' #link : https://t.co/IPzmqu4PfK'

# re.sub('([A-Za-z]+ @\w+:)|(@\w+) | (https:\/\/[a-zA-Z0-9]*.?[A-Za-z0-9]*\/[a-zA-Z0-9]*)',' ',x)

In [72]:
dataset.Tweets = [re.sub('([A-Za-z]+ @\w+:)|(@\w+) | (https:\/\/[a-zA-Z0-9]*.?[A-Za-z0-9]*\/[a-zA-Z0-9]*)',' ',tweet) for tweet in dataset.Tweets]

In [73]:
# Pattern_4 = '[^a-zA-z]' # Remove everything which is not a alphabet
# re.sub('[^a-zA-z]',' ',x)

dataset.Tweets = [' '.join(re.sub('[^a-zA-z]',' ',tweet).lower().split()) for tweet in dataset.Tweets]

In [74]:
dataset.head(10)

,Id,Tweets,Lang,Location
0,1225675713459539968,here s james morton from scottish trans allian...,en,Over here.
1,1225675711710523393,how do actors rules amp institutional contexts...,en,Sheffield and Buenos Aires
2,1225675705154859008,you did not choose your birthplace skin color ...,en,N.A
3,1225675701799358464,biometric gender verification yikes,en,N.A
4,1225675696694906880,top jobs lead to divorce for women but not for...,en,"Geneva, Switzerland"
5,1225675691875680258,is belief in immutable gender a philosophical ...,en,"Reading, UK"
6,1225675691787571204,this gender reveal party was crazy asf,en,N.A
7,1225675691305226240,and according to the article he did not ask th...,en,N.A
8,1225675689522679808,my last take on the issue of women soldiers it...,en,India
9,1225675678072180737,hong kong women upend gender roles in democrac...,en,Tokyo

In [76]:
blob = TextBlob('here s james morton from scottish trans alliance advocating the use of blockers as harmless in a top level nhs meetin')

In [113]:
dataset['Polarity'] = [TextBlob(tweet).sentiment.polarity for tweet in dataset.Tweets]
dataset['Polarity'] = dataset['Polarity'].apply(lambda x : 'Pos' if (x>0) else ('Neu' if (x == 0) else 'Neg'))

In [114]:
dataset.head()

,Id,Tweets,Lang,Location,Polarity
0,1225675713459539968,here s james morton from scottish trans allian...,en,Over here.,Pos
1,1225675711710523393,how do actors rules amp institutional contexts...,en,Sheffield and Buenos Aires,Neu
2,1225675705154859008,you did not choose your birthplace skin color ...,en,N.A,Neu
3,1225675701799358464,biometric gender verification yikes,en,N.A,Neu
4,1225675696694906880,top jobs lead to divorce for women but not for...,en,"Geneva, Switzerland",Pos

In [119]:
dataset['Polarity'].value_counts()

Pos    556
Neu    268
Neg    168
Name: Polarity, dtype: int64